@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Quicksand&display=swap");

ion-content {
  --ion-background-color: #f8f9f9;
}

@media only screen and (min-width: 1180px) {
  .narative-only-phone {
    display: none;
  }
}
p {
  font-family: "Quicksand", sans-serif;
  max-width: 80%;
}

.animation-container-homepage {
  display: flex;
  margin-top: 17%;
  margin-left: 50%;
}

.button-menu {
  margin-left: 50%;
}
.button-choice {
  padding-left: 1em;
}

.narative {
  max-width: 80%;
  position: relative;
}

.individual-socmed-pic {
  border-radius: 20%;
  width: 30px;
  height: 30px;
  margin-right: 1em;
}

.social-media-pic {
  margin-bottom: 2em;
}

.laptop-text {
    display: inline;
}



@media only screen and (max-width: 1180px) {
  .coffee-machine {
    position: fixed;
    text-align: center;
  }
  .moving-title {
    display: none;
  }
  p {
    font-family: "Quicksand", sans-serif;
    max-width: 100%;
  }
  .animation-container-homepage {
    display: block;
    margin-top: 100%;
    margin-left: 12%;
    text-align: justify;
  }
  .social-media-pic {
    margin-bottom: 0.5em;
    text-align: center;
  }
  .narative {
    display: none;
  }
  .narative-only-phone {
    display: block;
    position: fixed;
    margin-top: 30%;
    text-align: center;
    max-width: 80%;
    margin-left: 13%;
  }
}
  @media only screen and (min-width: 1366px) {
    .animation-container-homepage {
      display: flex;
      margin-top: 19%;
      margin-left: 50%;
    }
  
}