@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Quicksand&display=swap');

ion-content {
    --ion-background-color: #f8f9f9
}

p {
    font-family: 'Quicksand', sans-serif;
    max-width: 80%;
}

.animation-container-homepage {
    display: flex;
    margin-top: 20%;
    margin-left: 50%;
}

.button-menu {
    margin-left: 50%;

}
.button-choice {
    padding-left: 1em;
}

.narative {
    max-width: 80%;
}

.individual-socmed-pic {
    border-radius: 20%;
    width: 30px;
    height: 30px;
    margin-right: 1em;
}

.social-media-pic {
    margin-bottom: 2em;
    
}